.bigCard{width: 800px;
    height: 400px;
    flex-shrink: 0;
border-radius: 27px;
    border: 1px solid rgba(134, 213, 247, 0.30);
    background: linear-gradient(180deg, rgba(87, 142, 226, 0.89) 0%, rgba(192, 221, 237, 0.20) 100%);
    backdrop-filter: blur(27px);}

    .weatherCard{display: flex;
    margin: 0 auto;
        width: 558px;
        height: 282px;
        flex-shrink: 0;
    border-radius: 27px;
        background: #D2D6FF;
        box-shadow: 0px 4px 50px 0px rgba(144, 144, 144, 0.05), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);}

    footer{display: flex;
        width: 1447px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
    display: flex;
        width: 1447px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;}

    h1{color: blue;
    text-align: center;}