
body {
    background-image: url("Clouds_edited\ 7.jpg");
background-size: cover;
background-blend-mode:soft-light;
    justify-content: center;
        display: grid; }
main {
    margin: 0 auto;
    width: 560px;
    height: 328px;
    border-radius: 27px;
    border: none;
    outline: 1px solid #ffffff47;
    padding: 4px;
    background: linear-gradient(180deg, rgb(12 36 76 / 54%) 11.77%, rgb(42 83 153 / 23%) 37.23%, rgba(68, 113, 191, 0.13) 49.54%, rgb(255 255 255 / 24%) 93.88%);
    box-shadow: 0px 5px 5.3px 0px rgba(80, 80, 80, 0.17);
    backdrop-filter: blur(4.050000190734863px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: white;
}


 img{margin-right: 36px;
            display: flex;
            margin-top: -9px;
            margin-left: -12px;
    
}

.title{margin-top:46px;text-align: center;
    font-family:url("fonts/ttf/JetBrainsMonoNL-Regular.ttf");
color: #a3cbff;}

.smallerText{font-size: 14px;}
.detailText {margin-right: 0;}
.degreeNumber{font-size: 42px;}



form {margin: 42px;
    margin-bottom: -16px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
align-items: center;}

   .cityName{margin: 0px 0px;
    margin-left: 42px;
    color: #eef3ff;
    font-style: normal;
    font-weight: 600;
    line-height: normal;}
    
p{margin: 42px;
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 400;}

p.detailText{color:#caddfd;}

.dateInfo{font-size: 20px;
    color: #ffffff;
    font-family: monospace;}

.degree {
        display: flex;
            flex-direction: row-reverse;
            margin: -12px 18px;
            align-items: center;
   }

   .degreeNumIcon{display: block;
        font-size: 24px;
     
}


.weatherText{display: grid;
    grid-template-columns: 356px 200px;
    gap: 22px;
    margin: 40px 0;
    padding: 6px;
    color: #ffffff;
    font-family: "JetBrains Mono";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    align-items: baseline;
    justify-content: space-between;
    justify-items: stretch;}
    
.searchInput {
        display: flex;
            width: 340px;
            height: 44px;
            padding: 10px;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
            border-radius: 6px;
                border: 1px solid rgb(29 62 125 / 54%);
                    background: #e4edfc;
}

.searchButton {
    display: flex;
        width: 102px;
        padding: 10px;
        height: 46px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid rgb(198 212 241);
        background: #ffffff00;
        box-shadow: 0px 3px 2.5px 0px rgb(20 52 110 / 66%);
        color: #fcfcfc;
        font-size: medium;

}


.wind,.humidity{ 
        font-size: 18px;
        color: #ffffff;
        line-height: normal;}

.description{word-spacing: -4px;
font-size: 16px;}

ul{list-style: none;
    padding:0;
    display: flex;
    justify-content: space-between;
}

li{   height: 120px;
            width: 89px;
            text-align: center;
            color: #eef3ff;
            font-style: normal;
            padding: 10px 2px;
            border-radius: 27px;
            border: 1px solid rgba(224, 235, 255, 0.28);
            background: linear-gradient(235deg, rgb(9 56 153 / 10%) 13.83%, rgb(235 242 255 / 3%) 51.19%, rgba(166, 177, 197, 0.13) 93.06%), rgb(255 255 255 / 32%);
            backdrop-filter: blur(4.349999904632568px);
            box-shadow: 0px 5px 5.3px 0px rgb(86 135 188 / 46%);
    
}

    footer{
        margin: 32px 0;
            padding: 10px;
            text-align: center;
            background: #e7f2ffab;
            border: 1px solid #ffffff1a;
            border-radius: 10px;
            backdrop-filter: blur(4px);}

           a {color:#314f83}