
body {
    background-image: url("IMG_1501.JPG") ;
background-size: cover;
background-blend-mode:soft-light; }
main {
    margin: 0 auto;
    width: 560px;
    height: 328px;
    border-radius: 27px;
    border: 1px solid rgba(48, 91, 169, 0.23);
    background: linear-gradient(180deg, rgb(12 36 76 / 54%) 11.77%, rgb(42 83 153 / 23%) 37.23%, rgba(68, 113, 191, 0.13) 49.54%, rgb(255 255 255 / 24%) 93.88%);
    box-shadow: 0px 5px 5.3px 0px rgba(80, 80, 80, 0.17);
    backdrop-filter: blur(4.050000190734863px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: white;
}
.icon {
    width: 88px;
    height: 88x;
  
}

 img{margin-right: 36px;
    display: inline-block;
    display: inline-block;
        margin-top: -9px;
        margin-left: -12px;
}

.title{margin-top:46px;text-align: center;
    font-family:url("fonts/ttf/JetBrainsMonoNL-Regular.ttf");
color: #0010a0;}

.smallerText{font-size: 14px;}
.detailText {margin-right: 0;}
.degreeNumber{font-size: 42px;}



form {margin: 42px;
    margin-bottom: -16px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
align-items: center;}

   .cityName{margin:0px 42px;


color: #eef3ff;
    font-family: Inter;

    font-style: normal;
    font-weight: 600;
    line-height: normal;}
    p{margin: 42px;
        font-family: "JetBrains Mono";
        font-style: normal;
        font-weight: 400;}

        p.detailText{color:#c1d2ee;}

.degree {
        display: flex;
            flex-direction: row-reverse;
            margin: -9px 18px;
            align-items: center;
   }

   .degreeNumIcon{display: block;
color:#c7d5ef;}


.weatherText{display: grid;
    grid-template-columns: 356px 170px;
    gap: 22px;
    margin: 40px 0;
    padding: 6px;
    color: #ffffff;
    font-family: "JetBrains Mono";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    align-items: start;
    justify-content: space-between;
    justify-items: start;}
    
.searchInput {
        display: flex;
            width: 340px;
            height: 44px;
            padding: 10px;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
            border-radius: 6px;
                border: 1px solid rgb(29 62 125 / 54%);
                   
                    background: #c2d3ef;
}

.searchButton {
    display: flex;
        width: 102px;
        padding: 10px;
        height: 46px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid rgb(198 212 241);
            background: #ffffff00;
        box-shadow: 0px 3px 2.5px 0px rgb(20 52 110 / 66%);
        color: #fcfcfc;
        font-size: medium;

}
    footer{
        margin: 32px 0;
        padding: 10px;
        text-align: center;}